
*.vsidx
TimesBD/obj/TimesBD.csproj.nuget.g.props
TimesBD/obj/TimesBD.csproj.nuget.dgspec.json
TimesBD/obj/project.nuget.cache
TimesBD/obj/project.assets.json
TimesBD/obj/Debug/net7.0/TimesBD.pdb
TimesBD/obj/Debug/net7.0/TimesBD.genruntimeconfig.cache
TimesBD/obj/Debug/net7.0/TimesBD.GeneratedMSBuildEditorConfig.editorconfig
TimesBD/obj/Debug/net7.0/TimesBD.dll
TimesBD/obj/Debug/net7.0/TimesBD.csproj.FileListAbsolute.txt
TimesBD/obj/Debug/net7.0/TimesBD.assets.cache
TimesBD/bin/Debug/net7.0/TimesBD.pdb
TimesBD/bin/Debug/net7.0/TimesBD.dll
.vs/TimesBD/v17/.suo
.vs/TimesBD/FileContentIndex/44d959e6-673d-492a-a0b6-294f3b7aac5b.vsidx
TimesBD/obj/TimesBD.csproj.nuget.g.props
TimesBD/obj/TimesBD.csproj.nuget.dgspec.json
TimesBD/obj/project.nuget.cache
TimesBD/obj/project.assets.json
TimesBD/obj/Debug/net7.0/TimesBD.pdb
TimesBD/obj/Debug/net7.0/TimesBD.genruntimeconfig.cache
TimesBD/obj/Debug/net7.0/TimesBD.GeneratedMSBuildEditorConfig.editorconfig
TimesBD/obj/Debug/net7.0/TimesBD.dll
TimesBD/obj/Debug/net7.0/TimesBD.csproj.FileListAbsolute.txt
TimesBD/obj/Debug/net7.0/TimesBD.assets.cache
TimesBD/bin/Debug/net7.0/TimesBD.pdb
TimesBD/bin/Debug/net7.0/TimesBD.dll
.vs/TimesBD/v17/.suo
.vs/TimesBD/FileContentIndex/44d959e6-673d-492a-a0b6-294f3b7aac5b.vsidx
*.props
*.json
*.cache
*.pdb
*.editorconfig
TimesBD/obj/TimesBD.csproj.nuget.g.props
TimesBD/obj/TimesBD.csproj.nuget.dgspec.json
TimesBD/obj/project.nuget.cache
TimesBD/obj/project.assets.json
TimesBD/obj/Debug/net7.0/TimesBD.pdb
TimesBD/obj/Debug/net7.0/TimesBD.genruntimeconfig.cache
TimesBD/obj/Debug/net7.0/TimesBD.GeneratedMSBuildEditorConfig.editorconfig
TimesBD/obj/Debug/net7.0/TimesBD.dll
TimesBD/obj/Debug/net7.0/TimesBD.csproj.FileListAbsolute.txt
TimesBD/obj/Debug/net7.0/TimesBD.assets.cache
TimesBD/bin/Debug/net7.0/TimesBD.pdb
TimesBD/bin/Debug/net7.0/TimesBD.dll
.vs/TimesBD/v17/.suo
.vs/TimesBD/FileContentIndex/44d959e6-673d-492a-a0b6-294f3b7aac5b.vsidx
*.props
*.json
*.cache
*.xml
*.dll
*.pdb
*.editorconfig
*.json
*.editorconfig
*.cache
TimesBD/obj/Debug/net7.0/TimesBD.assets.cache
TimesBD/obj/Debug/net7.0/TimesBD.GeneratedMSBuildEditorConfig.editorconfig
.vs/TimesBD/v17/.suo
.vs/TimesBD/FileContentIndex/read.lock
TimesBD/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
TimesBD/obj/Debug/net7.0/TimesBD.AssemblyInfo.cs
TimesBD/obj/Debug/net7.0/TimesBD.GlobalUsings.g.cs
*.info
*.user
*.targets
*.CopyComplete
*.BuildWithSkipAnalyzers
*.exe
TimesBD/obj/Debug/net7.0/TimesBD.MvcApplicationPartsAssemblyInfo.cs
